.filter-div{
    padding: 1rem 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    width: 100%;
}

.links-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    opacity: 0.5;
}

.links-img{
    width: 2rem;
    height: 2rem;
    object-fit: contain;
}

.links-label{
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--font-grey);
}

